<%- include("./partials/header.ejs") %>
<body>
<%- include ('./partials/navbar.ejs') %>
<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Pedidos:</h3>
        </div>
        <% produtos.forEach(produto => { %>
        <div class="card-body">
            <h4>Data: <%= produto.createdAt %></h4>
            <h4>Nome: <%= produto.name %></h4>
            <h4>Quantidade: <%= produto.quantity %></h4>
            <h4>Kg: <%= produto.kg %></h4>
            <h4>Valor: R$<%= produto.amount %></h4>
            <div class="row">
                <a href="/editar-pedido/<%= produto.id %>" class="btn btn-warning ml-3">Alterar Pedido</a>
                <form action="/excluir-pedido" method="post" onsubmit="confirmarDelecao(event,this)">
                    <input type="hidden" name="id" value="<%= produto.id %>">
                    <button class="btn btn-danger ml-3">Excluir Pedido</button></a>
                </form>
            </div>
            <hr>
        </div>
        <% }) %> 
    </div>
</div>  
</body>
<%- include("./partials/footer.ejs") %>

<script>
    function confirmarDelecao(event, form){
        event.preventDefault(); 
        var decisisao = confirm("Tem certeza que deseja excluir este pedido?");
        if(decisisao){
            form.submit();
        } 
    }    
</script>