<%- include("./partials/header.ejs") %>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <br>
    <div class="container">
        <div class="card-header">
            <h3>Editar Pedido</h3>
        </div>
        <div class="card-body">
            <form method="POST" action="/editar-pedido/update">
                <input type="hidden" name="id" value="<%= pedidos.id %>">
                <label>Nome:</label>
                <input type="text" name="nome" required="required" placeholder="Digite o nome" class="form-control" value="<%= pedidos.name %>">
                <br>
                <label>Quantidade:</label>
                <input type="text" name="quantidade" placeholder="Digite a quantidade" class="form-control" value="<%= pedidos.quantity %>">
                <br>
                <label>Kg:</label>
                <input type="text" name="kg" placeholder="Digite o peso" class="form-control" value="<%= pedidos.kg %>">
                <br>
                <label>Valor:</label>
                <input type="text" name="valor" placeholder="Digite o valor" value="<%= pedidos.amount %>" class="form-control">
                <br>
                <button name="enviar" class="btn btn-success">Enviar</button>
            </form>

        </div>
    </div>
</body>
<%- include("./partials/footer.ejs") %>